header {
    width: 100%;
    height: 5em;
    background-color: #082AB5;
    z-index: 0;
    border-bottom: 1px solid #383838;
    color: #FFFFFF !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
body {
    margin: 0;
    background-color: #E1E1E1;
    z-index: 0;
    height: auto;
    width: 100%;
}
aside#left {
    width: 200px;
    background-color: #eb3d3d;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 1px solid #383838;
    color: #FFFFFF !important;
}
footer {
    height: 42px;
    position: fixed;
    bottom: 0;
    background-color: #082AB5;
    z-index: 1;
    color: #FFFFFF !important;
    width: 100%;
    text-align: center;
}
main{
    margin-left: 100px;
    margin-top: 61px;
}

h1{
    text-align: center;
    margin: 100px;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
}